@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway',sans-serif;
    overflow: hidden;
}

body {
    background-color:rgb(255, 255, 255); /*#FBB13C; */
    height: 100vh;
    padding:5vh;
}

.display {
    display:block;
    float:left;
    background-color: #F77462;
    min-height: -webkit-fill-available;
    width: 40%;
    margin:0% 2.5% 0% 7.5%;
    box-shadow: -1.5px 1.5px 20px 1px rgba(0, 0, 0, .35);
}

.heading {
    color:white;
    font-weight: 400;
    font-size: 50px;
    text-align:center;
    margin-top:180px
}

.searchCityInput {
    margin: 50px auto;
    padding: 5px 25px;

    font-size:18px;

    width: 70%;
    height: 60px;
    display:block;

    background-color: #F77462;
    color:white;

    box-sizing: border-box;
    border: 2.5px solid white;
    border-radius: 5px;
    outline:none
}

::placeholder {
    color:white;
}

.submitButton {
    margin: 50px auto;
    padding: 5px 25px;

    width: 70%;
    height: 70px;
    display:block;
    text-align: center;

    background-color: #F77462;
    color:white;
    font-weight: 800;
    font-size: 35px;

    
    border: none;
    border-radius: 5px;
    outline:none
}

.submitButton:hover {
    color:rgb(236, 236, 236);
    -webkit-transition: 0.25s;
    text-shadow: 1.5px 1px 1px black;
    cursor:pointer;
}


/* STYLE FOR RIGHT SIDE OF APP - DISPLAY SIDE  #65B6BC */
.interface {
    display:block;
    float:left;
    background-color:#279AF1;
    min-height: -webkit-fill-available;
    width: 40%;
    margin:0% 7.5% 0% 2.5%;
    box-shadow: -1.5px 1.5px 20px 1px rgba(0, 0, 0, .35);
}

.targetCity{
    color:white;
    font-weight: 400;
    font-size: 70px;
    text-align:center;
    margin-top:130px
}

.weatherIcon {
    color:white;
    font-weight: 400;
    font-size: 20px;
    text-align:center;
    width: 100%;
    height: 150px;
    margin: 30px auto;
    display:block;
}

.cityTempreature {
    color:white;
    font-weight: 400;
    font-size: 70px;
    text-align:center;
    margin-top:40px
}


/* Adding design for mobile */
@media screen and (max-width: 1160px) {
    body {
        overflow: scroll;
    }
    .display {
        background-color: #F77462;
        width: 90%;
        margin: 0% 5% 5% 5%;
        box-shadow: -1.5px 1.5px 20px 1px rgba(0, 0, 0, .35);
    }

    .interface {
        background-color: #279AF1;
        height: 90vh;
        width: 90%;
        margin: 0% 5% 0% 5%;
        box-shadow: -1.5px 1.5px 20px 1px rgba(0, 0, 0, .35);
    }
}